:root {
    --primary-color: #ffffff;
    --secondary-color: #1773b4;
    --fading-secondary: #4692c97a;
    --third-color: #417c25;
    --accent-color-1: #dbd7ca9c;
    --accent-color-2: #682e1d;
    --main-font: "Montserrat", sans-serif;
    --style-font: "Playfair Display", serif;
    --non-profit-color: rgb(45, 163, 45);
    --bronze-color: #8a5e32;
    --silver-color: #8c9093;
    --gold-color: rgb(190, 139, 9);
}

body {
    font-family: var(--main-font);
}

h1, h2, h3, h4 ,h5 ,h6 {
    font-family: var(--style-font);
    padding: 0;
    margin: 0;
}

/*Header*/
header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0.5rem 0;
    background-color: var(--primary-color);
}


#site-logo {
    height: 50px;
    width: auto;
    padding: 0.2rem 0;
}

#page-name {
    text-align: center;
    display: grid;
    place-items: center;
    font-family: var(--style-font);
    font-weight: 700;
    font-size: 1.1rem;
    box-sizing: border-box;
    padding: 0 0.3rem;
}

#nav-button {
    background: none;
    border: none;
}

#nav-button:hover {
    background-color: black;
    color: var(--primary-color);
}

#nav-button::before {
    content: "\2630";
    font-size: 1.6rem;
}

#nav-button.show::before {
    content: "\00D7";
    font-size: 2.5rem;
}

.navigation {
    display: none;
}

.navigation ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    text-align: start;
    padding: 0.6rem;
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-weight: 700;
}

.navigation a:hover {
    background-color: var(--accent-color-1);
    color: black;
}

.navigation a.current::after {
    content: "←";
    position: absolute;
    right: 1.5rem;
    font-weight: 900;
    font-size: 1.1rem;
}

#nav-menu.show {
    grid-column: span 3;
    display: grid;
    place-items: start;
}

/*Shared Body Elements Styling*/

.generic-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.7rem 1rem;
    border: 1.5px outset var(--secondary-color);
    border-radius: 5px;
    min-height: 44px;
    font-weight: 600;
}

.generic-button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    box-shadow: inset 0 0 4px 1px var(--secondary-color);
}

#hero-image img{
    opacity: 0.6;
    width: 100%;
    height: auto;
}

.bronze {
    color: var(--bronze-color);
    font-weight: 800;
}

.silver {
    color: var(--silver-color);
    font-weight: 800;
}

.gold {
    color: var(--gold-color);
    font-weight: 800;
}

.non-profit {
    color: var(--non-profit-color);
    font-weight: 800;
}

/*Footer*/
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 0.5rem;
    place-items: center;
    text-align: center;
    display: grid;
    gap: 0.5rem;
    font-size: 0.8rem;
}

footer strong {
    display: block;
}

footer img {
    width: 40px;
    height: auto;
    margin: 0 1rem;
}


