:root {
    --primary-color: #000000;
    --secondary-color: #0e0e0e;
    --ligth-secondary: #141414c5;
    --third-color: #ffffff;
    --accent-color: #891738;
    --primary-font: "Cormorant Garamond", serif;
    --secondary-font: "Lora", serif;
    --accent-font: "Italianno", cursive;
}

/*GENERAL STYLE*/
    * {
        box-sizing: border-box;
    }

    body {
        font-family: var(--primary-font);
        color: var(--third-color);
        background-color: var(--primary-color);   
    }

    h1, h2, h3, h4 ,h5 ,h6 {
        font-family: var(--secondary-font);
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .grid-2, .grid, .grid-3, .grid-auto {
        display: grid;
    }

    h1 {
        font-weight: 500;
        font-size: 2.5rem;
        width: 98%;
        margin: 0.5rem auto 2rem;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }

    .flavor {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: var(--primary-font);
        width: 80%;
        margin: 0 auto;
    }

    .flavor.lower {
        margin-top: 0.5rem;
        border-top: thin solid var(--accent-color);
    }

    .flavor.upper {
        border-bottom: var(--accent-color);
        margin-bottom: 0.5rem;
    }

    .generic-button {
        display: block;
        text-decoration: none;
        background-color: var(--primary-color);
        color: var(--third-color);
        font-family: var(--secondary-font);
        font-weight: 600;
        padding: 1rem;
        border: thin solid var(--third-color);
        border-radius: 5px;
        text-align: center;
    }

    .generic-button:hover {
        background-color: var(--third-color);
        color: var(--primary-color);
        border-color: var(--ligth-secondary);
        box-shadow: inset 0 0 8px 2px var(--ligth-secondary);
    }

    /*Header and Nav*/
        header {
            display: grid;
            gap: 0 0.5rem;
            grid-template-columns: 1fr 8fr 1fr;
            padding: 0;
            background-color: var(--primary-color);
        }
        #main-logo {
            height: auto;
            width: 100%;
            max-width: 48px;
            padding: 1.5vw 0;
            justify-self: center;
        }
        #main-name-banner {
            box-sizing: border-box;
            padding: 1vw 0.3rem 0;
            max-width: 330px;
            margin: 0 auto;
        }
        #main-hamburger {
            background: none;
            border: none;
            box-sizing: border-box;
            padding-right: 0.7rem;
            padding-bottom: 1.5vw;
        }
        #main-hamburger::before {
            content: "\2630";
            font-size: 1.6rem;
            color: var(--third-color);
        }
        #main-hamburger.show::before {
            content: "✕";
            font-size: 1.74rem;
        }
        .drop-down {
            display: none;
        }

        .drop-down ul {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .drop-down a {
            display: block;
            text-align: start;
            padding: 0.6rem;
            text-decoration: none;
            background-color: var(--secondary-color);
            font-weight: 700;
            color: var(--third-color);
        }

        .drop-down a.current::after {
            content: "←";
            position: absolute;
            right: 1.5rem;
            font-weight: 900;
            font-size: 1.1rem;
        }

        #main-menu.show {
            grid-column: span 3;
            display: grid;
            place-items: start;
        }
    
    /*Footer*/
        footer {
            padding: 1rem 0.5rem;
            place-items: center;
            text-align: center;
            display: grid;
            gap: 0.5rem;
            font-size: 1rem;
        }

        footer strong {
            display: block;
        }

        footer img {
            width: 40px;
            height: auto;
            margin: 0 1rem;
        }

/*INDEX STYLE*/
    /*Hero*/
        .index.hero {
            place-items: center;
        }
        .index.call-to-action {
            width: 90%;
            border: 1.5px solid var(--ligth-secondary);
            border-radius: 5px;
            box-sizing: border-box;
            padding: 1rem;
            margin: 0 auto 2rem;
        }
            .index.call-to-action img {
                width: 100%;
                height: auto;
                display: block;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            .index.call-to-action h2 {
                margin: 0 auto;
                width: 100%;
                padding: 1rem 0.5rem;
                background-color: var(--secondary-color);
            }

            .index.call-to-action p {
                margin: 0 auto;
                padding: 0 1.5rem 1rem;
                background-color: var(--secondary-color);
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .index.call-to-action .generic-button {
                margin: 1.5rem auto 0;
                width: 60%;
            }
        